{% extends "base.html" %}

{% block title %}{{ person }} | Interviews{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    <a class="breadcrumbs__link"
        href="{% url 'archive:person_index' %}">People</a>
    /
    {{ person }}
</nav>

<h1 class="page-title">{{ person }}</h1>

<p>Date of birth: {{ person.date_of_birth }}</p>
<p>Gender: {{ person.gender }}</p>
{% if person.gnd_id %}
<p>
    GND-ID:
    <a href="https://explore.gnd.network/gnd/{{ person.gnd_id }}">
        {{ person.gnd_id }}
    </a>
</p>
{% endif %}

<h2>Associated interviews</h2>
<ul>
{% for interview in person.interview_set.all %}
    <li>
        <a href="{% url 'archive:interview_detail' interview.archive_id interview.id %}">
            {{ interview.title }}
        </a>
    </li>
{% endfor %}
</ul>

{% endblock %}
