{% extends "base.html" %}

{% block title %}{{ topic }} | Interviews{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    <a class="breadcrumbs__link"
        href="{% url 'archive:topic_index' %}">Topics</a>
    /
    {{ topic }}
</nav>

<h1 class="h1">{{ topic }}</h1>

<p>{{ topic.description }}</p>
{% if topic.gnd_id %}
<p>
    GND-ID:
    <a href="https://explore.gnd.network/gnd/{{ topic.gnd_id }}">
        {{ topic.gnd_id }}
    </a>
</p>
{% endif %}

<h2>Associated interviews</h2>
<ul>
{% for ref in topic.topicreference_set.all %}
    <li>
        <a href="{% url 'archive:interview_detail' ref.interview.archive_id ref.interview.id %}{% if ref.timecode %}?tc={{ ref.timecode }}{% endif %}">
            {{ ref.interview.title }}
            {% if ref.timecode %}
                ({{ ref.timecode }})
            {% endif %}
        </a>
    </li>
{% endfor %}
</ul>

{% endblock %}
