{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ image_material.identifier }} | {{ block.super }}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <a class="breadcrumbs__link"
       href="{% url 'archive:resource_index' %}">{% translate "Resources" %}</a>
    /
    <a class="breadcrumbs__link"
       href="{% url 'archive:resource_detail' resource.id %}">{{ resource.title|truncatechars:25 }}</a>
    /
    {{ image_material.identifier }}
  </nav>
  <h1 class="h1 u-mt">{{ image_material.identifier }}</h1>

  <figure class="u-mt">
    <img src="{{ image_material.image.url }}" alt="{{ image_material.caption }}"/>
    <figcaption class="u-mt-1/2">
      {{ image_material.caption }}
    </figcaption>
  </figure>

  <div class="u-mt">
    <a href="{% url 'archive:resource_detail' resource.id %}">
      {% translate "Back to resource" %}
    </a>
  </div>
{% endblock %}
