<footer class="footer site__footer">
  <div class="footer__inner container container--wide">
    <p class="u-align-center">Media Explorer v0.1</p>
    <nav class="secondary-nav u-mt">
      <ul class="secondary-nav__list">
        <li class="secondary-nav__item">
          <a href="{% url 'pages:terms' %}" class="secondary-nav__link">Terms</a>
        </li>
        <li class="secondary-nav__item">
          <a href="{% url 'pages:privacy' %}" class="secondary-nav__link">Privacy</a>
        </li>
        <li class="secondary-nav__item">
          <a href="{% url 'pages:accessibility' %}" class="secondary-nav__link">Accessibility</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
