{% load static %}

<footer class="footer site__footer">
    <div class="footer__inner container container--wide">
        <div>
            Media Explorer v0.1
        </div>

        <nav class="secondary-nav u-mt">
            <ul class="secondary-nav__list">
                <li class="secondary-nav__item">
                    <a href="{% url 'archive:terms' %}" class="secondary-nav__link">
                        Terms
                    </a>
                </li>
                <li class="secondary-nav__item">
                    <a href="{% url 'archive:privacy' %}" class="secondary-nav__link">
                        Privacy
                    </a>
                </li>
                <li class="secondary-nav__item">
                    <a href="{% url 'archive:accessibility' %}" class="secondary-nav__link">
                        Accessibility
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
