{% load static %}

<header class="header site__header">
    <div class="header__inner container container--wide">
        <h1 class="header__title">
            <a class="header__title-link" href="{% url 'archive:welcome' %}">
                Media Explorer
            </a>
        </h1>

        <nav class="primary-nav">
            <ul class="primary-nav__list">
                {% url 'archive:resource_index' as url %}
                <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
                    <a class="primary-nav__link"
                        href="{% url 'archive:resource_index' %}">
                        Resources
                    </a>
                </li>

                {% url 'archive:collection_index' as url %}
                <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
                    <a class="primary-nav__link" href="{{ url }}">
                        Collections
                    </a>
                </li>

                {% url 'entities:location_index' as url %}
                <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
                    <a class="primary-nav__link" href="{{ url }}">
                        Entities
                    </a>
                </li>

                {% if user.is_authenticated %}
                {% url 'archive:profile' as url %}
                <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
                    <a class="primary-nav__link" href="{{ url }}">
                        {{ user.username }}
                    </a>
                </li>

                <li class="primary-nav__item">
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="primary-nav__link">
                            Logout
                        </button>
                    </form>
                </li>
                {% else %}
                {% url 'login' as url %}
                <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
                    <a class="primary-nav__link" href="{{ url }}">
                        Login
                    </a>
                </li>

                {% url 'login' as url %}
                <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
                    <a class="primary-nav__link" href="{{ url }}">
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
