{% load static %}

<header class="header site__header">
    <div class="header__inner container">
        <h1 class="header__title">
            <a class="header__title-link" href="{% url 'archive:welcome' %}">
                <img class="header__title-img"
                    src="{% static 'images/logo.png' %}"
                    width="64" alt="Interviews logo">
            </a>
        </h1>

        <nav class="primary-nav">
            <ul class="primary-nav__list">
                <li class="primary-nav__item">
                    <a class="primary-nav__link"
                        href="{% url 'archive:interview_index' %}">
                        Interviews
                    </a>
                </li>
                <li class="primary-nav__item">
                    <a class="primary-nav__link"
                        href="{% url 'archive:collection_index' %}">
                        Collections
                    </a>
                </li>
                <li class="primary-nav__item">
                    <a class="primary-nav__link"
                        href="{% url 'archive:topic_index' %}">
                        Topics
                    </a>
                </li>
                <li class="primary-nav__item">
                    <a class="primary-nav__link"
                        href="{% url 'archive:person_index' %}">
                        People
                    </a>
                </li>
                <li class="primary-nav__item">
                    {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="primary-nav__link">
                            Logout {{ user.username }}
                        </button>
                    </form>
                    {% else %}
                    <a class="primary-nav__link" href="{% url 'login' %}">
                        Login
                    </a>
                    {% endif %}
                </li>
                {% if not user.is_authenticated %}
                <li class="primary-nav__item">
                    <a class="primary-nav__link" href="">
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
