{% load i18n %}
<header class="header site__header">
  <div class="header__inner container container--wide">
    <h1 class="header__title">
      <a class="header__title-link" href="{% url 'pages:welcome' %}">Media Explorer</a>
    </h1>
    <nav class="primary-nav">
      <ul class="primary-nav__list">
        {% url 'archive:resource_index' as url %}
        <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
          <a class="primary-nav__link" href="{{ url }}">
            {% translate "Resources" %}
          </a>
        </li>
        {% url 'archive:collection_index' as url %}
        <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
          <a class="primary-nav__link" href="{{ url }}">
            {% translate "Collections" %}
          </a>
        </li>
        {% url 'entities:index' as url %}
        <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
          <a class="primary-nav__link" href="{{ url }}">
            {% translate "Entities" %}
          </a>
        </li>
        {% if user.is_authenticated %}
          {% url 'accounts:profile' as url %}
          <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
            <a class="primary-nav__link" href="{{ url }}">{{ user.username }}</a>
          </li>
          <li class="primary-nav__item">
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="primary-nav__link">
                {% translate "Log out" %}
              </button>
            </form>
          </li>
        {% else %}
          {% url 'login' as url %}
          <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
            <a class="primary-nav__link" href="{{ url }}">
              {% translate "Log in" %}
            </a>
          </li>
          {% url 'accounts:register' as url %}
          <li class="primary-nav__item {% if request.path == url %}primary-nav__item--active{% endif %}">
            <a class="primary-nav__link" href="{{ url }}">
              {% translate "Register" %}
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
