{% extends "base.html" %}

{% block title %}All collections | Interviews{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    Collections
</nav>

<h1 class="h1">
    Collections
</h1>

{% if collections %}
    <ul class="grid grid--collection">
        {% for collection in collections %}
            <li class="card card--collection">
                <h3 class="card__title">
                    <a class="card__link"
                        href="{% url 'archive:collection_detail' collection.id %}">
                        {{ collection.name }}
                    </a>
                </h3>
                <p class="card__detail">
                    {{ collection.interview_count }} interviews
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no collections yet.</p>
{% endif %}
{% endblock %}
