{% extends "base.html" %}

{% block title %}{{ collection.name }} | Interviews{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    <a class="breadcrumbs__link"
        href="{% url 'archive:collection_index' %}">Collections</a>
    /
    {{ collection.name }}
</nav>

<h1 class="h1">{{ collection.name }}</h1>

<p>
    {{ collection.description }}
</p>

{% if interviews %}
    <ul class="grid grid--interview">
        {% for interview in interviews %}
            <li class="card card--interview">
                <h3 class="card__title">
                    <a class="card__link"
                        href="{% url 'archive:interview_detail' interview.id %}">
                        {{ interview.title }}
                    </a>
                </h3>
                <p class="card__detail">
                    {{ interview.duration }}<br>
                    {{ interview.media_type }}<br>
                    {{ interview.pub_date }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no interviews yet.</p>
{% endif %}

{% endblock %}
