{% extends "base.html" %}

{% block title %}Archive | Interviews{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    <a class="breadcrumbs__link"
        href="{% url 'archive:index' %}">Archives</a>
    /
    {{ archive.name }}
</nav>

<h1 class="page-title">{{ archive.name }}</h1>
<p>{{ archive.description }}</p>

<p>
    <a href="{% url 'archive:interview_index' archive.id %}">
        {{ archive.interview_set.count }}
        {% if archive.interview_set.count == 1 %}
            interview
        {% else %}
            interviews
        {% endif %}
    </a>
</p>
{% endblock %}
