{% extends "base.html" %}

{% block title %}All interviews | Interviews{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    Interviews
</nav>

<h1 class="h1">
    Interviews
</h1>

{% include "archive/pagination.html" %}

{% if page_obj %}
    <ul class="grid grid--interview">
        {% for interview in page_obj %}
            <li class="card card--interview">
                <h3 class="card__title">
                    <a class="card__link"
                        href="{% url 'archive:interview_detail' interview.id %}">
                        {{ interview.title }}
                    </a>
                </h3>
                <p class="card__detail">
                    {{ interview.duration }}<br>
                    {{ interview.media_type }}<br>
                    {{ interview.pub_date }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no interviews yet.</p>
{% endif %}

{% include "archive/pagination.html" %}

{% endblock %}
