{% extends "base.html" %}

{% block title %}{{ interview.title }} | Interviews{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    <a class="breadcrumbs__link"
        href="{% url 'archive:index' %}">Archives</a>
    /
    <a class="breadcrumbs__link"
        href="{% url 'archive:detail' archive.id %}">{{ archive.name }}</a>
    /
    <a class="breadcrumbs__link"
        href="{% url 'archive:interview_index' archive.id %}">Interviews</a>
    /
    {{ interview.title }}
</nav>

<h1 class="page-title">{{ interview.title }}</h1>

<div>
    <video controls width="500">
        <source src="{{ interview.media_url }}"
            type="{{ interview.media_type }}" />
    </video>

    <ul class="u-ml">
        <li>Published: {{ interview.pub_date }}</li>
        <li>Duration: {{ interview.duration }}</li>
    </ul>

    <h2>People</h2>
    <ul>
        {% for involvement in interview.interviewinvolvement_set.all %}
        <li>
            {{ involvement.type }}:
            <a href="{% url 'archive:person_detail' involvement.person.id %}">
                {{ involvement.person }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Topics</h2>
    <ul>
        {% for topic in interview.topics.all %}
        <li>
            <a href="{% url 'archive:topic_detail' topic.id %}">
                {{ topic.name }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Transcripts</h2>

    {% for transcript in interview.transcript_set.all %}
    <section>
        <h3>Transcript {{ transcript.language }}</h3>
        <ul>
            {% for segment in transcript.json %}
            <li>
                {{ segment.text }}
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>
{% endblock %}
