{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block title %}{{ interview.title }} | Interviews{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    <a class="breadcrumbs__link"
        href="{% url 'archive:interview_index' %}">Interviews</a>
    /
    {{ interview.title }}
</nav>

<h1 class="h1">{{ interview.title }}</h1>

<div class="grid grid--interview-page">
    <div>
        {% include "archive/interview_main.html" %}
    </div>
    <div>
        {% include "archive/interview_sidebar.html" %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
{% render_bundle "main" "js" %}
{% endblock %}
