{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block title %}Map | Interviews{% endblock %}

{% block content %}
<h1 class="h1">
    Map
</h1>

{% if location_list %}
<div id="map" class="map"></div>
{% else %}
<p>No locations are available.</p>
{% endif %}

{% endblock %}

{% block javascript %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    const options = {
        scrollWheelZoom: false,
    };
    const map = L.map('map', options).setView([52.505, 13.09], 5);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);

    {% for location in location_list %}
    L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map);
    {% endfor %}
</script>
{% endblock%}
