{% load i18n %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">
        « {% translate "first" context "pagination" %}
      </a>
      <a href="?page={{ page_obj.previous_page_number }}">
        {% translate "previous" context "pagination" %}
      </a>
    {% endif %}
    <span class="current">
      {% blocktranslate with page=page_obj.number num_pages=page_obj.paginator.num_pages %}Page {{ page }} of {{ num_pages }}.{% endblocktranslate %}
    </span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">
        {% translate "next" context "pagination" %}
      </a>
      <a href="?page={{ page_obj.paginator.num_pages }}">
        {% translate "last" context "pagination" %} »
      </a>
    {% endif %}
  </span>
</div>
