{% load i18n %}
{% if resource.is_video %}
  <video id="resource-media" class="video video-js vjs-fluid" controls>
    <source src="{{ resource.media_url }}#t={{ timecode }}"
            type="{{ resource.media_type }}" />
  </video>
{% else %}
  <audio id="resource-media" class="audio video-js vjs-default-skin" controls>
    <source src="{{ resource.media_url }}#t={{ timecode }}"
            type="{{ resource.media_type }}" />
  </audio>
{% endif %}
<h2>{% translate "Metadata" %}</h2>
{% if perms.archive.view_resource %}
  <h3>{% translate "Basic" %}</h3>
  <ul>
    <li>{% translate "Media type" %}: {{ resource.media_type }}</li>
    <li>{% translate "Published" %}: {{ resource.pub_date|date:'Y-m-d' }}</li>
    <li>{% translate "Duration" %}: {{ resource.duration }}</li>
  </ul>
  <h3>{% translate "Custom" %}</h3>
  <ul>
    {% for char_field_metadata in resource.charfieldmetadata_set.all %}
      <li>
        <span title="{{ char_field_metadata.key.description }}">{{ char_field_metadata.key.label|capfirst }}:</span>
        {{ char_field_metadata.value }}
      </li>
    {% endfor %}
  </ul>
  <h3>{% translate "Collections" %}</h3>
  <ul>
    {% for collection in collections %}
      <li>
        <a href="{% url 'archive:collection_detail' collection.id %}">{{ collection }}</a>
      </li>
    {% endfor %}
  </ul>
  <h3>{% translate "Agents" %}</h3>
  <ul>
    {% for agency in resource.agency_set.all %}
      <li>
        {{ agency.type }}:
        <a href="">{{ agency.agent }}</a>
      </li>
    {% endfor %}
  </ul>
  <h3>{% translate "Entities" %}</h3>
  <ul>
    {% for er in resource.entityreference_set.all %}
      <li>
        {{ er.entity.name }}
        {% for timecode in er.timecodes %}
          <a href="{% url 'archive:resource_detail' resource.id %}?tc={{ timecode }}">{{ timecode }}</a>&nbsp;
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="p u-mt-small">
    {% translate "You do not have the permissions to view metadata." %}
  </p>
{% endif %}
