{% extends "base.html" %}
{% block title %}All resources | {{ block.super }}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    Resources
  </nav>
  <h1 class="h1">Resources</h1>
  {% include "archive/pagination.html" %}
  {% if page_obj %}
    <div class="grid-wrapper">
      <ul class="grid grid--resource">
        {% for resource in page_obj %}
          <li class="card card--resource">
            <h3 class="card__title">
              <a class="card__link"
                 href="{% url 'archive:resource_detail' resource.id %}">{{ resource.title }}</a>
            </h3>
            <p class="card__detail">
              {{ resource.duration }}
              <br>
              {{ resource.media_type }}
              <br>
              {{ resource.pub_date }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>There are no resources yet.</p>
  {% endif %}
  {% include "archive/pagination.html" %}
{% endblock %}
