{% extends "base.html" %}
{% load i18n %}
{% load vite %}
{% block title %}
  {% if perms.archive.view_resource %}
    {{ resource.title }}
  {% else %}
    {{ resource.anon_title }}
  {% endif %}
  | {{ block.super }}
{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <a class="breadcrumbs__link"
       href="{% url 'archive:resource_index' %}">{% translate "Resources" %}</a>
    /
    {# This is logic and does not belong here. #}
    {% if perms.archive.view_resource %}
      {{ resource.title|truncatechars:25 }}
    {% else %}
      {{ resource.anon_title|truncatechars:25 }}
    {% endif %}
  </nav>
  <h1 class="h1">
    {% if perms.archive.view_resource %}
      {{ resource.title }}
    {% else %}
      {{ resource.anon_title }}
    {% endif %}
  </h1>
  <div class="grid grid--resource-page">
    <div>{% include "archive/resource_main.html" %}</div>
    <div>{% include "archive/resource_sidebar.html" %}</div>
  </div>
{% endblock %}
{% block javascript %}
  <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
  {% vite 'assets/js/index.js' %}
{% endblock %}
