{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "All resources" %} | {{ block.super }}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    {% translate "Resources" %}
  </nav>
  <h1 class="h1">{% translate "All resources" %}</h1>

  {% include "archive/pagination.html" %}

  {% if page_obj %}
    <div class="grid-wrapper u-mt u-mb">
      <ul class="grid grid--resource">
        {% for resource in page_obj %}
          {% include "archive/resource_preview.html" with resource=resource only %}
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p class="u-mt u-mb">
      {% translate "There are no resources yet." %}
    </p>
  {% endif %}

  {% include "archive/pagination.html" %}
{% endblock %}
