{% extends "base.html" %}

{% block title %}Interviews{% endblock %}

{% block content %}
<h1 class="h1">Resource presentation and research software</h1>

<form action="{% url 'archive:search' %}" method="GET">
    <div>
        <input type="search" name="q" placeholder="Search resources"
            aria-label="Search resources" />
        <button type="submit">Search</button>
    </div>
</form>

<nav>
    <ul>
        <li>
            <a href="{% url 'archive:resource_index' %}">Resources</a>
        </li>
        <li>
            <a href="{% url 'archive:collection_index' %}">Collections</a>
        </li>
        <li>
            <a href="{% url 'archive:map' %}">Map</a>
        </li>
        <li>
            <a href="{% url 'archive:topic_index' %}">Topics</a>
        </li>
        <li>
            <a href="{% url 'archive:person_index' %}">People</a>
        </li>
    </ul>
</nav>

{% endblock %}
