body {
    color: var(--text-color);
    font-family: var(--font-stack);
    line-height: var(--base-unit);
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

.paragraph {
    max-width: var(--line-length);
}

a:link,
a:visited {
  color: var(--primary-color);
}
