.grid {
    display: grid;
    grid-gap: var(--base-unit);
}

.grid--collection {
    grid-template-columns: 1fr 1fr;
}

.grid--interview {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid--collection,
.grid--interview {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.grid--interview-page {
    gap: calc(var(--base-unit) * 2);
    grid-template-columns: 2fr 1fr;
}
