.grid-wrapper {
    container-type: inline-size;
}

.grid {
    display: grid;
    grid-gap: var(--base-unit);
}

.grid--collection {
    grid-template-columns: 1fr;
}

@container (min-width: 25em) {
    .grid--collection {
        grid-template-columns: 1fr 1fr;
    }
}

@container (min-width: 50em) {
    .grid--collection {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid--resource {
    grid-template-columns: 1fr;
}

@container (min-width: 20em) {
    .grid--resource {
        grid-template-columns: 1fr 1fr;
    }
}

@container (min-width: 40em) {
    .grid--resource {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@container (min-width: 60em) {
    .grid--resource {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.grid--collection,
.grid--resource {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.grid--resource-page {
    gap: calc(var(--base-unit) * 2);
    grid-template-columns: 2fr 1fr;
}

.grid--location-page {
    grid-template-columns: 1fr 1fr;
}
