.secondary-nav {
    font-size: 0.875rem;
}

.secondary-nav__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.secondary-nav__item {
    margin-right: calc(var(--base-unit) / 2);
}

.secondary-nav__item:last-of-type {
    margin-right: 0;
}

.secondary-nav__link:link,
.secondary-nav__link:visited {
    color: var(--text-color);
    text-decoration: none;
}

.secondary-nav__link:hover,
.secondary-nav__link:active {
    text-decoration: underline;
}
