.welcome__link-list {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.welcome__link {
  font-size: var(--font-size-large);
}

.welcome__link:link,
.welcome__link:visited {
  color: var(--text-color);
  text-decoration: none;
}

.welcome__link:hover,
.welcome__link:active {
  text-decoration: underline;
}
