{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  {% translate "Entities" %} | {{ block.super }}
{% endblock title %}
{% block content %}
  <nav class="breadcrumbs">
    {% translate "Entities" %}
  </nav>
  <h1 class="h1">
    {% translate "Entities" %}
  </h1>
  <ul>
    {% for entity in entities %}
      <li>
        <a href="{% url 'entities:entity_detail' entity.id %}">
          {{ entity.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
