{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% translate "Locations" %} | {{ block.super }}
{% endblock title %}
{% block content %}
  <nav class="breadcrumbs">
    <a class="breadcrumbs__link" href="{% url 'entities:index' %}">
      {% translate "Entities" %}
    </a>
    /
    {% translate "Locations" %}
  </nav>
  <h1 class="h1">
    {% translate "Locations" %}
  </h1>
  {% if page_obj %}
    {% include "archive/pagination.html" %}
    <ul>
      {% for location in page_obj %}
        <li>
          <a href="{% url 'entities:location_detail' location.id %}">{{ location }}</a>
        </li>
      {% endfor %}
    </ul>
    {% include "archive/pagination.html" %}
  {% else %}
    <p>
      {% translate "No locations are available." %}
    </p>
  {% endif %}
{% endblock content %}
