{% extends "base.html" %}
{% block title %}
  Reset email sent | {{ block.super }}
{% endblock title %}
{% block content %}
  <h1 class="h1">Reset email sent</h1>
  <p class="u-ll u-mt">
    We’ve emailed you instructions for setting your password,
    if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p class="u-ll u-mt">
    If you don’t receive an email, please make sure you’ve
    entered the address you registered with, and check your spam folder.
  </p>
{% endblock content %}
