{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% translate "Confirm password" %} | {{ block.super }}
{% endblock title %}
{% block content %}
  <h1 class="h1">
    {% translate "Confirm password" %}
  </h1>
  {% if validlink %}
    {% if form.errors %}
      {{ form.errors }}
    {% endif %}
    <form class="u-mt" method="post" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="form__button">
        {% translate "Change password" %}
      </button>
    </form>
  {% else %}
    <p>
      {% translate "Invalid password reset link!" %}
    </p>
  {% endif %}
{% endblock content %}
