{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {{ person }} | {{ block.super }}
{% endblock title %}
{% block content %}
  <nav class="breadcrumbs">
    <a class="breadcrumbs__link"
       href="{% url 'entities:index' %}">{% translate "Entities" %}</a>
    /
    <a class="breadcrumbs__link"
       href="{% url 'entities:person_index' %}">{% translate "People" %}</a>
    /
    {{ person }}
  </nav>
  <h1 class="h1">{{ person }}</h1>
  <p>{% translate "Date of birth" %}: {{ person.extra.date_of_birth }}</p>
  <p>{% translate "Date of death" %}: {{ person.extra.date_of_death }}</p>
  <p>{% translate "Sex" context "like gender" %}: {{ person.extra.sex }}</p>
  {% if person.gnd_id %}
    <p>
      {% translate "GND id" %}:
      <a href="https://explore.gnd.network/gnd/{{ person.gnd_id }}">
        {{ person.gnd_id }}
      </a>
    </p>
  {% endif %}
  <p>{{ person.description }}</p>

  <section class="u-mt">
    <h2>
      {% translate "Mentioned in resources" %}
    </h2>
    <ul class="u-mt-1/2">
      {% for ref in person.entityreference_set.all %}
        <li>
          <a href="{% url 'archive:resource_detail' ref.resource.id %}">
            {{ ref.resource.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
