{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }}{% endblock %}
{% block content %}
  <h1 class="h1">
    {% translate "Research and presentation software for multimedia resources" %}
  </h1>
  <form action="{% url 'archive:search' %}" method="get" class="form">
    <div>
      <input type="search"
             name="q"
             class="form__input"
             placeholder="{% translate 'Search resources' %}"
             aria-label="{% translate 'Search resources' %}"/>
      <button type="submit" class="form__button">
        {% translate "Search" %}
      </button>
    </div>
  </form>
  <nav class="u-mt">
    <ul class="welcome__link-list">
      <li>
        <a href="{% url 'archive:resource_index' %}" class="welcome__link">
          {% translate "Resources" %}
        </a>
      </li>
      <li class="u-mt-small">
        <a href="{% url 'archive:collection_index' %}" class="welcome__link">
          {% translate "Collections" %}
        </a>
      </li>
      <li class="u-mt-small">
        <a href="{% url 'entities:entity_index' %}" class="welcome__link">
          {% translate "Entities" %}
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
